html {
    background: #ccc;
}
body {
 font-family: Arial, Helvetica, sans-serif;
 margin: 40px;
 padding: 40px;
 color: #242424;
 border-top: 10px solid #242424;
 background: #fff;
}

h1 {
    font-size: 3em;
}

p {
    line-height: 1.4em;
}

#about {
    border-top: 2px dotted #747474;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}

.about_me {
    border-bottom: 2px dotted #747474;
    padding: 10px;
}
img {
    border: 5px solid #242424;
    height: 110px;
    width: 160px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
article {
    border-bottom: 2px dotted #242424;
    
  
}

header {
  background: grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}